{%  extends 'Hamonsoft_project01/common/header.html' %}
{% load staticfiles %}

{% block main %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="col-md-12">
    <center>
        <a href="{% url 'main' %}"><button class="btn btn-secondary slidedown" type="button" data-toggle="collapse">
            SCAN START!
        </button></a>
    </center>
</div>

{% endblock main %}